@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --primary: #FF0000;
    --secondary: #FF8938;
    --gray-1: #1C1C1C;
    --gray-2: #777777;
    --gray-3: #494949;
    --gray-4: #D2D2D2;
    --white: #FFFFFF;
    --white-light: #F4F4F4;
}

h1{
    color: var(--gray-1);
    font-size: 5rem;
    font-weight: 800;
    line-height: 6.25rem;
}
p{
    color: var(--gray-2);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.875rem;
}
.container {
    max-width: 1600px;
    width: 80%;
    margin-inline: auto;
}
section{
    margin-block: 6.25rem;
}
.description{
    color: var(--gray-2);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.875rem;
}
.title{
    color: var(--gray-1);
    font-size: 2.825rem;
    font-weight: 800;
}
.btn{
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.625rem;
    padding: 1.125rem 1.25rem;
    background:linear-gradient(275deg, rgba(255,0,0,1) 0%, rgba(255,137,56,1) 35%); 
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
.btn:hover{
    background:linear-gradient(75deg, rgba(255,0,0,1) 0%, rgba(255,137,56,1) 35%); 
}
/* Header start here */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 4.30rem;
}
.header_left h1{
    max-width: 40rem;
}
.header_left p{
    max-width: 32rem;
    margin-block: 1.88rem;
}
.header_left button span img{
    vertical-align: baseline;
    margin-left: 0.62rem;
}
.right_img_wrapper{
    position: relative;
}
.right_img_wrapper img{
    width: 100%;
}
.right_overly_card_wrapper img{
    width: 100%;
    vertical-align: middle;
}

.right_overly_card_wrapper h2{
    font-weight: 800;
    font-size: 1.8rem;
}
.right_overly_card_wrapper{
    border-radius: 0.625rem;
    background-color: var(--white);
    max-width: 18rem;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.80rem;
    padding: 1.75rem;
    position: absolute;
    bottom: -2%;
    left: 12%;
}
/* Header end here */

/* featured start */
.featured{
 text-align: center;
}
.featured_titel p {
    max-width: 56rem;
    margin-inline: auto;
    margin-top: 1.25rem;
}
.featured_products_wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.12rem;
    gap: 1.5rem;
    place-items: center;
}
.featured_product{
    border-radius: 0.625rem;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
    text-align: center;
    padding: 1.88rem;
}

.featured_product h3{
    color: var(--gray-1);
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.88rem 0 0.62rem 0;
}

.featured_product p{
    color: var(--gray-2);
    font-size: 1rem;
    font-weight: 600;
    max-width: 13rem;
    margin-inline: auto;
    margin-top: 1.25rem;
}
/* featured end */

/* Present start */
.present{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.88rem;
}
.present .present_image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.88rem;
}
.present .present_image div{
    display: grid;
    padding: 2rem;
    border-radius: 1rem;
    place-items: center;
    }
.present .present_image div img{
width: 100%;
    }

.present .present_image div:nth-child(1){
    opacity: 0.1;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}
.present .present_image div:nth-child(2){
    grid-row: 1 / -2;
    grid-column: 2 / -1;
    background: rgba(230, 166, 35, 0.10);
}
.present .present_image div:nth-child(3){
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}
.present .present_image div:nth-child(4){
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    background: rgba(87, 118, 57, 0.10);
}
.present_contant h2{
    margin-bottom: 1.25rem;
    max-width: 26rem;
}
.present_contant p{
    max-width: 36rem;
}
.present_sub_contant{
    margin-top: 1.88rem;
}
.present_sub_contant div:nth-child(1){
    margin-bottom: 1.25rem;
}
.present_sub_contant h3{
    color: var(--gray-1);
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 0.62rem;
}
.present_sub_contant p{
    max-width: 28rem;
    color: var(--gray-2);
    font-weight: 500;
    line-height: 1.75rem;

}


/* Present end */